<html>
<head>
  <title>
    PSTN Demo
  </title>
    <script src="http://yourserverIP/socket.io/socket.io.js"></script>
    
    <script type="text/javascript" src="js/adapter.js"></script>
  <script src="Your CAPI File"></script>
  <script>
  
  var w5capi = new W5Peer({
      key:'your capi key'});

w5capi.registerUserWithId('w5rtc');

w5capi.onSuccess(function(data){
  console.log(data);
});

      window.testcall=function()
      {
           w5capi.call('capi', {
            audio: true,
            video: true
        });
      }
      
      function disconnect()
      {
          w5capi.hangup();
      }
      
    
    w5capi.onCall(function (data) {

        w5capi.accept(data);
    });

w5capi.onRemoteStream(function(stream){
        var remote = document.getElementById('remote');
        remote.src = URL.createObjectURL(stream);
    });

w5capi.onLocalStream(function(stream){
        
    });


  </script>
</head>

<body>
<video width=800 id="remote" autoplay="autoplay" ></video>
    <video width=800 id="source" autoplay="autoplay" hidden="true"></video>
    <button onclick="disconnect()">Cut</button>
    <button onclick="testcall()">Video Call</button
</body>
</html>
